@use './partials/fonts' as *;
@use './partials/global' as *;

html, body { 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222426;
}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


.header {
    height: 10vh;
    display: flex;
    background: rgb(2,0,36);
    background:#000;
    justify-content: space-between;
    position: relative;

    @include tablet {
        padding: 0 2rem 0 1rem ;
    }

    @include desktop {
        padding: 0 6rem 0 5rem;
    }

    &-logo {
        height: 100%;
        display: flex;
        align-items: center;

        &__image {
            display: flex;
            flex-direction: row;
            height: 100%;
            padding: 0;

            &-link {
                height: 100%;
                padding: 1rem 0;
                margin: 0;
            }

        }
    }

    &-nav {
        display: none;
        flex-direction: row;

        @include tablet {
            display: flex;
            align-items: center;
        }

        &__list {

            @include tablet {
                display: flex;
            }

            &-item {
                padding-left: 1rem;
                list-style-type: none;

                &-link {
                    color: white;

                    background-image: linear-gradient(
                        to right,
                        #ffa200,
                        #ffa200 50%,
                        #ffffff 50%
                    );
                    background-size: 200% 100%;
                    background-position: -100%;
                    display: inline-block;
                    padding: 5px 0;
                    position: relative;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 0.3s ease-in-out;

                    &:before{
                        content: '';
                        background: #ffa200;
                        display: block;
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 0;
                        height: 3px;
                        transition: all 0.3s ease-in-out;
                      }
                      
                      &:hover {
                       background-position: 0;
                      }
                      
                      &:hover::before{
                        width: 100%;
                      }
                }
            }
        }
    }
}

.toggle {
    height: 50%;
    background-color: white;
}

.mobile {


    &-button {
        height: 100%;
        background-color: transparent;
        border: none;
        padding: 0;

        @include tablet {
            display: none;
        }

        &__image {
            height: 100%;
            padding: 1rem;
        }
    }

    &-nav__list {
        display: none;
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: #222426;
        list-style-type: none;


        &-item {
            font-size: 1rem;
            padding: 0.5rem 0;

            &-link {
                text-decoration: none;
                color: white;

            }

        }

        
    }
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;

    @include tablet {
        display: none;
    }
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.container {
    padding: 0 0;
}

.about {
    width: 100%;


    &-title {
        width: 100%;

        &__title {
            margin: 0;
            color: white;
        }

        &__name {
            margin: 0;
            color: white;
        }
    }

    &-image {
        height: 300px;

        &__picture {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            border: 2px;
            overflow: hidden;
            object-fit: cover;
        }
    }
}