@use './partials/fonts' as *;
@use './partials/global' as *;

html, body { 
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222426;
}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


.header {
    height: 15vh;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(0,0,222,0.9262079831932774) 52%, rgba(0,212,255,1) 100%);    justify-content: space-between;

    &-logo {
        height: 100%;
        display: flex;
        align-items: center;

        &__image {
            display: flex;
            flex-direction: row;
            height: 100%;
            padding: 1rem;

            &-link {
                height: 100%;
                padding: 1rem 0;
                margin: 0;
            }

        }
    }

    &-nav {
        display: none;
        flex-direction: row;
    }
}

.toggle {
    height: 50%;
    background-color: white;
}

.mobile {
    height: 100%;
    display: none;


    &-button {
        height: 100%;
        background-color: transparent;
        border: none;
        padding: 1rem;

        &__image {
            height: 100%;
            padding: 1rem;
        }
    }

    &-nav__list {
        width: 100vw;
        background-color: white;

        &-item {
            font-size: 2rem;
        }

        
    }
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    background-color: #222426;
    color: white;
    text-decoration: none;

}